@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');


@layer utilities {
    .animation-delay-2000 {
        animation-delay:  2s;
    }

    .animation-delay-3000 {
        animation-delay:  3s;
    }

    .animation-delay-4000 {
        animation-delay:  4s;
    }
}

@layer components {
    .heroButtons {
        @apply px-6 py-2 border border-transparent bg-secondaryColor/20 rounded-full ml-4
        uppercase text-sm tracking-wider text-gray-200 transition-all hover:bg-thirdColor/30 hover:text-white font-Rowdies
        hover:scale-110
    }

    .mobileMenuLink {
        @apply hover:bg-secondaryColor/50 hover:scale-110 py-5 hover:animate-spin font-MeriendaOne hover:text-orange-700
    }
}



